
<html><head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <style>
         html{
            display: block;
        }
        body{
            display: block;
            margin: 8px;
        }
        textarea{
            white-space: pre-wrap;
            height: 300px;
        }


    </style>
    <script>
        function setVal(){
            // alert( document.getElementById("tbarea").value)
            document.getElementById("inputs").value = document.getElementById("tbarea").value;
            // alert(document.getElementById("inputs").value )
        }
    </script>
</head>
<div class="pure-g-r">

<div class="pure-u-1 pure-u-md-1-2">
Movie
<table border="1" style="font-size:90%; padding: 1px;border-spacing:
0px; border-collapse: separate">
<tbody><tr border="1"><th style="border-width:
1px; padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">mID</th><th style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">title</th><th style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">year</th><th style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">director</th></tr>
<tr border="1"><td style="border-width:
1px; padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">101</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">Gone with the Wind</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">1939</td><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">Victor Fleming</td></tr><tr border="1"><td style="border-width:
1px; padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">102</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">Star Wars</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">1977</td><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">George Lucas</td></tr><tr border="1"><td style="border-width:
1px; padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">103</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">The Sound of Music</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">1965</td><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">Robert Wise</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">104</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">E.T.</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">1982</td><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">Steven Spielberg</td></tr><tr border="1"><td style="border-width:
1px; padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">105</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">Titanic</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">1997</td><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">James Cameron</td></tr><tr border="1"><td style="border-width:
1px; padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">106</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">Snow White</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">1937</td><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">&lt;null&gt;</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">107</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">Avatar</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">2009</td><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">James Cameron</td></tr><tr border="1"><td style="border-width:
1px; padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">108</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">Raiders of the Lost
Ark</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">1981</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">Steven Spielberg</td></tr></tbody></table>

<br>

Reviewer
<table border="1" style="font-size:90%; padding: 1px;border-spacing:
0px; border-collapse: separate">
<tbody><tr border="1"><th style="border-width:
1px; padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">rID</th><th style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">name</th></tr>
<tr border="1"><td style="border-width:
1px; padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">201</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">Sarah Martinez</td></tr><tr border="1"><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">202</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">Daniel Lewis</td></tr><tr border="1"><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">203</td><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">Brittany Harris</td></tr><tr border="1"><td style="border-width:
1px; padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">204</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">Mike Anderson</td></tr><tr border="1"><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">205</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">Chris Jackson</td></tr><tr border="1"><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">206</td><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">Elizabeth Thomas</td></tr><tr border="1"><td style="border-width:
1px; padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">207</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">James Cameron</td></tr><tr border="1"><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">208</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">Ashley White</td></tr></tbody></table>


<br>

Rating
<table border="1" style="font-size:90%; padding: 1px;border-spacing:
0px; border-collapse: separate">
<tbody><tr border="1"><th style="border-width:
1px; padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">rID</th><th style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">mID</th><th style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">stars</th><th style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">ratingDate</th></tr>
<tr border="1"><td style="border-width:
1px; padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">201</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">101</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">2</td><td style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">2011-01-22</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">201</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">101</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">4</td><td style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">2011-01-27</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">202</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">106</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">4</td><td style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">&lt;null&gt;</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">203</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">103</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">2</td><td style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">2011-01-20</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">203</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">108</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">4</td><td style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">2011-01-12</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">203</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">108</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">2</td><td style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">2011-01-30</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">204</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">101</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">3</td><td style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">2011-01-09</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">205</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">103</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">3</td><td style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">2011-01-27</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">205</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">104</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">2</td><td style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">2011-01-22</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">205</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">108</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">4</td><td style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">&lt;null&gt;</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">206</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">107</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">3</td><td style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">2011-01-15</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">206</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">106</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">5</td><td style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">2011-01-19</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">207</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">107</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">5</td><td style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">2011-01-20</td></tr><tr border="1"><td style="border-width: 1px;
padding: 3px; margin: 4px; border-style: inset; border-color:
gray;">208</td><td style="border-width: 1px; padding: 3px; margin: 4px;
border-style: inset; border-color: gray;">104</td><td style="border-width: 1px; padding: 3px; margin: 4px; border-style:
inset; border-color: gray;">3</td><td style="border-width: 1px; padding:
3px; margin: 4px; border-style: inset; border-color:
gray;">2011-01-02</td></tr></tbody></table>
</div>
<div class="pure-u-1 pure-u-md-1-2">
    <br><br>
    <p>Execute SQL Here:</p>
    <form class="pure-form" action="run" method="POST">        
        <fieldset class="pure-group">
            {% if inputs %}
            <textarea style="white-space: pre-wrap" id="tbarea" name= "tbarea" class="pure-input-1-2" placeholder="select * from movie ...">{{  inputs  }}</textarea>
            {% else %}
            <textarea style="white-space: pre-wrap" id="tbarea" name="tbarea" class="pure-input-1-2" placeholder="select * from movie ..."></textarea>
            {% endif %}

            <input  style="white-space: pre-wrap" hidden name="inputs" id="inputs" type="text",  class="pure-input-1-2">
        </fieldset>    
        <button type="submit" onclick="setVal()" class="pure-button pure-input-1-2 pure-button-primary">Submit</button>
    </form>
    {% if error %}
    <p id="err" style="color: #D8000C">{{  error  }}</p>
    {% endif %}
    
    {% if query %}

    <p>Results:</p>
    <p>{{query | safe}}</p>
    {% endif %}

</div>





</div>

</body></html>